<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All chats</title>
    <link rel="stylesheet" href="d40.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <h1>All chats</h1>
    <button id="newChat">New Chat</button>
    <!-- <button id="editChat">Edit Chat</button> -->
    <div id="newChatForm">
        <div id="editChatForm">
        </div>
        <table>
            <caption>Displaying Chats of all users</caption>
            <tr>
                <th>Id</th>
                <th>Sender</th>
                <th>Receiver</th>
                <th>Message</th>
                <th>Time(IST)</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <% for( chat of chats ) { %>
                <tr>
                    <td>
                        <%= chat._id %>
                    </td>
                    <td>
                        <%= chat.from %>
                    </td>
                    <td>
                        <%= chat.to %>
                    </td>
                    <td>
                        <%= chat.msg %>
                    </td>
                    <td>
                        <%= chat.created_At.toString().split(" ")[4] %> <br> 
                    <%= chat.created_At.toString().split(" ").slice(0,4).join(" ") %>
                </td>
                <td>
                    <i onclick=" editChatForm('<%=chat._id %>','<%= chat.msg %>')" class="fa-solid fa-pen-to-square"
                                ></i>
                    </td>
                    <td>
                        <i onclick="deleteChat('<%= chat._id%>')" class="fa-solid fa-trash-can"></i>
                    </td>
                </tr>
                <% } %>
        </table>
        <script>
            async function newChat() {
                let options = {
                    method: "GET"
                }
                fetch("/chats/new", options)
                    .then(async (data) => {
                        // console.log(data.text())
                        return await data.text();
                    })
                    .then((resp) => {
                        // console.log(resp)
                        document.querySelector("#newChatForm").insertAdjacentHTML('beforebegin', resp);
                        // return resp;
                    })
            }

            async function editChatForm(id, oldMsg) {
                let options = {
                    method: "POST",
                    headers: {
                        "Content-Type": 'application/json'
                    },
                    body: JSON.stringify({ // Convert oldMsg to JSON string and include in body
                        oldMsg: oldMsg
                    })
                }
                fetch("/chats/edit/" + id, options)
                    .then(async (data) => {
                        // console.log(data.text())
                        return await data.text();
                    })
                    .then((resp) => {
                        // console.log(resp)
                        document.querySelector("#editChatForm").insertAdjacentHTML("beforebegin", resp);
                        // return resp;
                    })
            }
            async function deleteChat(id) {
                let resp = window.confirm("Are you sure you wanna delete chat ?");
                if (resp) {
                    let options = {
                        method: "DELETE"
                    }
                    let url = `/chats/delete/${id}`; 
                    // let response =await fetch("/chats/delete/" + id, options)
                    let response =await fetch(url, options)
                    console.log(response)
                        // Chat successfully deleted
                        // You might want to redirect to the chat list or update the UI
                        location.reload();
                    
                }
            }

            document.querySelector("#newChat").addEventListener("click", () => {
                document.querySelector("#newChat").style.display = "none";
                newChat();
                // document.querySelector("#newChatForm").innerHTML = formHTML;
            })

        </script>
</body>

</html>